@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';

.modal {
    // styling for the modal's background
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 24, 44, 0.7);
    z-index: 1;
    
    &--display-block {
        display: block;
    }

    &--display-none {
        display: none;
    }

    // styling for the main container
    &__main {
        position: fixed;
        background: white;
        line-height: 1.75rem;
        padding: 2rem;
        width: 90%;
        height: 80%;
        top: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;


        @include tablet {
            width: 80%;
            height: auto;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include desktop {
            width: 60%;
        }
    }

    // top header (e.g. back and next arrows)
    &__header {
        display: flex;
        justify-content: space-between;
    }

    // title (.e.g name of candidate)
    &__title {
        margin: 0.5rem 0;
        text-align: center;
    }

    // profile pic
    &__profile-pic-container {
        text-align: center;
        margin: 1rem 0;
    }
    &__profile-pic {
        width: 2.5rem;
    }
    
    // ratings
    &__rating-container {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    &__rating-star {

        &--filled {
            filter: invert(60%) sepia(73%) saturate(4429%) hue-rotate(161deg) brightness(94%) contrast(101%);
        }
    }

    // candidate's offer
    &__offer {
        text-align: center;
    }    

    &__icon {
        &--inactive {
            visibility: hidden;
            pointer-events: none;
        };
    }

    
    // decision buttons
    &__buttons-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;

        @include tablet {
            justify-content: flex-end;
        }
    }

    &__button {
        border: 1px solid #bdc5d5;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        width: 46%;

        @include tablet {
            width: 20%;
        }

        &--accept {
            color: white;
            background-color: green;
            margin-right: 1rem;

            &:hover {
                border: 1px solid variables.$color-primary-2;
            }
        }
        &--delete {
            color: #c94515;
            background-color: white;
            // border: none;

            // &:hover {
            //     background-color: variables.$color-background-1;
            // }
        }
    }

    // cancel button
    &__cancel {
        height: 5%;
        color: white;
        background-color: orange;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // justify-self: end;
    }    
}
