@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';

.modal-candidates {
    // styling for the modal's background
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(19, 24, 44, 0.7);
    z-index: 1;
    
    &--display-block {
        display: block;
    }

    &--display-none {
        display: none;
    }

    // styling for the main container
    &__main {
        position: fixed;
        background: white;
        border-radius: 10px;
        line-height: 1.75rem;
        padding: 2rem;
        width: 90%;
        height: 80%;
        max-height: 40rem;
        top: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 80%;
            height: auto;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include desktop {
            width: 60%;
        }
    }

    // top header (e.g. back and next arrows)
    &__header {
        display: flex;
        justify-content: space-between;
    }

    // title (.e.g name of candidate)
    &__title {
        margin: 0.5rem 0;
        text-align: center;
    }

    // profile pic
    &__profile-pic-container {
        text-align: center;
        margin: 1rem 0;
    }
    &__profile-pic {
        width: 3.5rem;
        border-radius: 50%;
    }
    
    // ratings
    &__rating-container {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    &__rating-star {

        &--filled {
            filter: invert(60%) sepia(73%) saturate(4429%) hue-rotate(161deg) brightness(94%) contrast(101%);
        }
    }

    // candidate's offer
    &__offer {
        text-align: center;
    }    

    &__icon {
        &--inactive {
            visibility: hidden;
            pointer-events: none;
        };
    }

    
    // decision buttons
    &__buttons-group {
        display: flex;
        margin-bottom: 4rem;
        justify-content: center;
    }

    &__button {
        border: 1px solid #bdc5d5;
        border-radius: 10px;
        padding: 0.5rem 1rem;

        @include tablet {
            max-width: 30rem;
        }

        &--accept {
            cursor: pointer;
            color: white;
            background-color: #5cb85c;
            border: 1px solid #5cb85c;
            margin-right: 1rem;
            width: 80%;
            box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

            &:hover {
                border: 1px solid variables.$color-secondary-1;
                background-color: variables.$color-secondary-1;
            }

            @include tablet {
                max-width: 20rem;
            }
        }
    }

    // cancel button
    &__cancel {
        cursor: pointer;
        color: variables.$color-secondary-1;
        background-color: variables.$color-background-3;
        border: 1px solid variables.$color-secondary-1;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

        &:hover {
            background-color: variables.$color-secondary-1;
            color: white;
        }
    }    
}
