// breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colors
$color-primary-1: #d81e5b; // ruby
$color-primary-2: #f0544f; // tart orange

$color-secondary-1: #3a3335; // black coffee
$color-secondary-2: #bdc5d5; // cloud

$color-background-1: #fdf0d5; // papaya whip
$color-background-2: #c6d8d3; // opal
$color-background-3: #F7F8F9; // light gray