@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';

.logout-button {
    cursor:pointer;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: variables.$color-background-1;
    border: 1px solid variables.$color-background-1;
    color: variables.$color-secondary-1;
    font-size: 1.2rem;

    &:hover {
        color: variables.$color-primary-2;
    }
}