@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';

/* -----------------------------------------------------------------------------
header block
----------------------------------------------------------------------------- */
.header {
    border-bottom: 1px solid #E2E8F0;
}

/* -----------------------------------------------------------------------------
navigation bar block
----------------------------------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: variables.$color-background-1;

    &__logo {
        font-size: 1.8rem;
        font-weight: 500;
        font-family: American Typewriter, serif;
        color: variables.$color-primary-1;
        text-decoration: none;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: variables.$tablet-breakpoint) {
            position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
        }
    }

    &__item {
        margin-left: 5rem;
        list-style: none;

        @media (max-width: variables.$tablet-breakpoint) {
            margin: 2.5rem 0;
        }
    }

    &__link {
        font-size: 1.2rem;
        color: variables.$color-secondary-1;
        text-decoration: none;
        padding-right: 1rem;

        @include tablet {
            border-right: 1px solid variables.$color-secondary-1;
        }
    }
    
    &__link:hover {
        color: variables.$color-primary-1;
    }

    &__button {
        cursor:pointer;
        color: white;
        background-color: variables.$color-primary-1;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid variables.$color-primary-1;
        &:hover {
            color: variables.$color-secondary-1;
        }
    }
}

/* -----------------------------------------------------------------------------
the hamburger button (activated on mobile)
----------------------------------------------------------------------------- */
.hamburger {
    display: none;

    @media (max-width: variables.$tablet-breakpoint) {
        display: block;
        cursor: pointer;
    }

    &__bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: variables.$color-primary-1;

    }
}

/* -----------------------------------------------------------------------------
animation for the burger button
----------------------------------------------------------------------------- */
@media (max-width: variables.$tablet-breakpoint) {

    .navbar__menu--active {
        left: 0;
    }

    .hamburger--active .hamburger__bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger--active .hamburger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger--active .hamburger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}