@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';


/* -----------------------------------------------------------------------------
container
----------------------------------------------------------------------------- */ 
.container {
    margin: 1rem 4%;
    padding: 1rem;
    width: 92%;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    @include tablet {
        max-width: 50rem;
        margin: 1rem auto;
    }

    &-header {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
        color: variables.$color-primary-2;
        align-self: center;
    }

    &-subheader {
        font-size: 1rem;
        align-self: center;
        margin: 0.5rem 0;
    }

    &-menu {
        display: flex;
        align-items: center;
        border-bottom: 1px solid variables.$color-secondary-2;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    
        &__icon {
            margin-right: 1rem;
        }
    
        &__text {
            color: variables.$color-primary-2;
        }
    }
    
}

/* -----------------------------------------------------------------------------
form style
----------------------------------------------------------------------------- */ 
.review {

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &__driver-rating {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__driver-photo-containers {
        text-align: center;
        margin: 1rem 0;
    }

    &__driver-photo {
        width: 3.5rem;
        border-radius: 50%;
    }

    &__stars-containers {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    &__star {
        margin-right: 0.2rem;

        &--filled {
            filter: invert(19%) sepia(60%) saturate(7277%) hue-rotate(332deg) brightness(90%) contrast(86%);
        }
    }

    &__stars-description {
        margin: 1rem 0;
    }

    &__invisible-label {
        display: none;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
    }

    &__input-field {
        width: 100%;
        margin: 0.2rem 0;
        font-size: 0.8rem;
        padding: 0.5rem;
        color: variables.$color-secondary-1;
        border: 1px solid variables.$color-secondary-2;
        border-radius: 5px;
        resize: none;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

        @include tablet {
            font-size: 1.1rem;
        }
    }

    &__button {
        border: 1px solid #bdc5d5;
        border-radius: 10px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        width: 100%;

        @include tablet {
            max-width: 20rem;
            margin: auto;
        }

        &--add {
            color: white;
            background-color: variables.$color-primary-2;
            border: 1px solid variables.$color-primary-2;
            cursor: pointer;
            padding: 0.8rem;
            font-size: 1.2rem;

            &:hover {
                background-color: variables.$color-secondary-1;
                border: 1px solid variables.$color-secondary-1;
            }
        }

        &--not-ready {
            background-color: variables.$color-secondary-2;
            border: 1px solid variables.$color-secondary-2;
            cursor: none;
            pointer-events: none;
        }
    }    
}
