@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';

/* -----------------------------------------------------------------------------
landing page
----------------------------------------------------------------------------- */ 
.landing {
    &-hero {
        color: variables.$color-secondary-1;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;

        @include tablet {
            flex-direction: row;
            align-items: center;
            text-align: left;
        }

        &__content {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            @include tablet {
                padding: 2rem;
            }
        }

        &__title {
            font-size: 1.5rem;
            color: variables.$color-primary-1;

            @include tablet {
                font-size: 2.5rem;
            }
        }

        &__text {
            margin: 1rem 0;
        }

        &__img {
            padding: 2rem;
        }
    }
    
    &-features {
        background-color: variables.$color-background-1;
        color: variables.$color-secondary-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        &__title {
            color: variables.$color-primary-1;
            font-weight: bold;
            font-size: 1.7rem;
            border-bottom: 2px solid variables.$color-primary-1;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }

        &__cards-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
    }

    &-driver {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 1rem;

        @include tablet {
            padding: 2rem;
        }

        &__title {
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            color: variables.$color-primary-1;
            margin-bottom: 1rem;

            @include tablet {
                font-size: 2rem;
            }
        }
        &__img {
            width: 100%;
            padding: 2rem;
            @include tablet {
                width: 55%;
            }
        }
        &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

            @include tablet {
                width: 25%;
                align-items: flex-start;
                text-align: left;
                padding-left: 2rem;
            }

            &--highlight {
                color: variables.$color-primary-1;
            }
        }
        
        &__content-text {
            margin: 2rem 0;
            font-size: 1.5rem;

            @include tablet {
                font-size: 2rem;
            }
        }
    }
    &-footer {
        display: flex;
        flex-direction: column;
        color: variables.$color-secondary-1;
        background-color: variables.$color-background-1;
        align-items: center;
        padding: 1.5rem 0;

        &__title {
            color: variables.$color-primary-1;
            font-weight: bold;
            font-size: 1.5rem;
        }

        &__email {
            display: flex;
            align-items: center;
            margin: 1rem 0;

            &-icon {
                margin-right: 0.5rem;
            }
        }
    }
}