@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background-3;
}

// .app-wrapper {
//     margin-top: -4.25rem;

//     @include tablet {
//         margin-top: -6.0625rem;
//     }
// }
